.generator-container{
    display: flex;
    justify-content: center;
    background-color: mediumpurple;
    align-items: center;
    flex-direction: column;
  
    border-radius: 15px;
    border-style: double;
    border-width: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

@media (max-width: 768px) {

    .generator-container {
        max-width: 100% !important;
        padding: 1rem;
       margin-left: 0;
    }

    
    .controls {
        flex-direction: column;
        width: 100%;
    }

    .controls button {
        width: 100%;
        font-size: 1.1rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    #fullName {
        font-size: 1.2rem;
    }

    #emails {
        font-size: 1rem;
    }
}


@media (max-width: 1080px) {

    .generator-container {
        max-width: 100% !important;
        padding: 1rem;
       margin-left: 0;
    }

    
    .controls {
        flex-direction: column;
        width: 100%;
    }

    .controls button {
        width: 100%;
        font-size: 1.1rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    #fullName {
        font-size: 1.2rem;
    }

    #emails {
        font-size: 1rem;
    }
}